.container-fluid {
display: flex;
justify-content: center;
padding-top: 25px;
}

.header-bar {
list-style: none;
}

.header-bar li {
  float: left;
  font-size: 1.25em;
  padding-right: 20px;
  padding-left: 20px;
  border-right: black 3px solid;
  padding-top: 5px;
  height: 25px;
  border-right-style: double;
}
.header-bar li a {
  color: gray;
  text-decoration: none;
}
.home-animate:hover {
  color: white;
  background: linear-gradient(270deg, #81ec5a, #3991e6);
  background-size: 400% 400%;
  text-decoration: none;
  animation: hoverHeader 2s ease infinite;
  /*make animation span the whole bar*/
}

.last {
  border: none !important;
}

.floating-name {
  text-align: center;
  color: lightblue;
  font-size: 4em;
  position: relative;
  top: 50px;
  animation: headerEntrance 3s;
}

.images-display {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.images-display img {
  padding: 5px;
}

@keyframes headerEntrance {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 6em;
  }
}

@keyframes hoverHeader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
