.non-float-coding a {
  text-decoration: none;
  color: #FCFBE3;
  position: relative;
  top: -190px;

}
.non-float-coding {
  text-align: center;
  margin: 200px auto;
  margin-bottom: -120px;
  font-family: "League-Gothic", Impact;
  font-size: 5em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 10px 10px 0 #ffd217, 20px 20px 0 #5ac7ff, 30px 30px 0 #ffd217, 40px 40px 0 #5ac7ff;
}

.coding-animate:nth-of-type(odd) {
  background-color: #5ac7ff;
  color: #ffd217 !important;
}
.coding-animate:nth-of-type(odd):hover {
  color: #5ac7ff;
  background-color: #FCFBE3;
}

.coding-animate:nth-of-type(even) {
  color: #5ac7ff !important;
  background-color: #ffd217;
}
.coding-animate:nth-of-type(even):hover {
  background-color: #FCFBE3;
  color: #ffd217 !important;
}

.about-code {
    display: flex;
    justify-content: center;
}
